<div class="background">
    <div class="overlay">
        <div class="container">
            <div class="header center">
                <h2>add new deal</h2>
            </div>
        </div>

<form action="/addAvo" method="post">



	<div class="inputs input">
		<label for="">Select Shop Name</label><select name="name">
			<option value="">Select Shop For Deal</option>
				{{#each name}}
	<option value="" class="option">{{name}}</option>
		{{/each}}
		</select>
	</div>

	<div class="inputs">
		<label>Quantity</label>
		<input type="number" name="qty">
	</div>

    <div class="inputs">
		<label>Price</label>
		<input type="number" name="price">
	</div>

	<div class="button center">
		<input type="submit" >
	</div>


</form>
      
    </div>
</div>