<div class="background newsho">
    <div class="overlay newsho">
        <div class="container">
            <div class="header center">
                <h2>add new shop</h2>
            </div>

<form  class="addShop" action="/addShop" method="post">

	<div class="inputs center">
		<label >Shop name :</label>
		<input  type="text" name="name" class="text">
	</div>

	<div class="button center">
		<input  type="submit">
	</div>

        </div>
    </div>
</div>