<div class="background">
    <div class="overlay">
        <div class="container">
            <div class="header center">
                <h2>best deals</h2>
            </div>

        <form action="/addShop" method="post">

	<div class="m1">
		<label for="basket_name">Basket name</label>
		<input class="m-1 p-1" type="text" name="shop_name" id="">
	</div>

	<div class="m1">
		<input class="m-1 p-1" type="submit">
	</div>

        </div>
    </div>
</div>