<div class="background">
    <div class="overlay">
        <div class="container">
            <div class="header center">
                <h2>best deals</h2>
            </div>
            <div class="deals">
            <div class="deal">
                <img src="avo.jpeg" alt="">
                <h4>Fruit Veg City</h4>
                <p>4 for R 40</p>
                <button>BUY</button>
            </div>
             <div class="deal">
                <img src="avo.jpeg" alt="">
                <h4>Pick n Play</h4>
                <p>4 for R 40</p>
                <button>BUY</button>
            </div>
              <div class="deal">
                <img src="avo.jpeg" alt="">
                <h4>Fruit lovers</h4>
                <p>4 for R 40</p>
                <button>BUY</button>
            </div>
            </div>
            <div class="deals">
                <div class="col-2-sm"></div>
            <div class="deal">
                <img src="avo.jpeg" alt="">
                <h4>Shopryte</h4>
                <p>4 for R 40</p>
                <button>BUY</button>
            </div>
             <div class="deal">
                <img src="avo.jpeg" alt="">
                <h4>Tsjekkers</h4>
                <p>4 for R 40</p>
                <button>BUY</button>
            </div>
        </div>
        </div>
        </div>
    </div>
