<div class="background">
  <div class="overlay">
    <div class="container">
        <a href="addShop">Add a new shop</a>
      <div class="header center">
        <h2>shops available</h2>
      </div>

      
    
    </div>
  </div>
</div>