.background {
    background-image: url(./images/rr.jpg);
    background-size: cover;
    height:1100px;
    margin: 30px;
}

.newsho {
    height: 900px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.57);
    height:1100px;
    /* margin: 10px; */
}

.header {
    padding-top: 30px;
}

.header  h2{
    font-size: 70px;
    font-weight: bolder;
    color: white;
    margin-top: 30px;
    text-transform: lowercase;
}

.deals {
    margin-top: 50px;
    display: flex;
}

.deal {
    width: 25%;
    padding: 20px;
    /* border: 10px solid white; */
    margin: 20px;
}

.deal img {
    width: 200px;
    height: 150px;
}

.deal h4 {
    color: white;
}

.deal p {
    color: white;
}

.deal button {
    background-color: burlywood;
    color: white;
    padding: 15px;
    border: 0;
    width: 150px;
    text-align: center;
    font-weight: bolder;
}

.addShop {
    width: 60;
}

.inputs {
    display: flex;
    width: 45%;
    margin: auto;
}

.input {
    display: flex;
    width: 40%;
    margin-left: 200px;
    margin: auto;
}

.input label {
    margin-left: 130px;
    padding-top: 10px;
}

.inputs label {
    color: white;

    font-weight: bolder;
    font-size: large;
    padding:10px;
}

.inputs .text {
    width: 200px;
    padding: 20px;
    border: 2px solid white;
    background-color: transparent;
    margin-left: 30px;
    color: white;
}

.button input{
    width: 200px;
    color: white;
    border: 0;
    font-size: 17px;
    font-weight: bolder;
    background-color: burlywood;
    padding: 20px;
    margin-top: 50px;
}

.inputs select {
    width: 250px;
    padding: 20px;
    font-size: 17px;
    font-weight: bolder;
    border: 2px solid white;
    background-color: transparent;
    margin-left: 30px;
    color: white;
}

.option {
    background-color: white;
    color: darkolivegreen;
    
}